.aboutBannerContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutBannerHeader {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    z-index: 12;
    display: flex;
    justify-content: center;
    color: var(--banner-default-font-color);
    animation: fadeInAnimation ease 2s;
    text-shadow: 2px 2px 4px #0e2b57;
    font-size: 3rem;
}

.aboutBannerImg {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}

.aboutMainContainer {
    width: 100%;
    padding: 2rem;
    display: flex;
}

.aboutDescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.aboutBannerPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutImage {
    width: 500px;
    height: 600px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .aboutBannerHeader {
        width: 100%;
        left: 0;
    }

    .aboutMainContainer {
        flex-direction: column;
        padding: 0;
    }

    .aboutDescriptionContainer,
    .aboutBannerPhotoContainer {
        width: 100%;
        text-align: center;
        margin: 1rem 0rem;
    }

    .aboutImage {
        width: 300px;
        height: 300px;
    }
}