ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 2rem;
    color: black;
    padding: 1rem 2rem;
}

a:active,
a:visited,
a:link {
    text-decoration: none;
    color: white;
}

.navLink:active {
    text-decoration: none;
}