.locationContainer {
    display: flex;
    padding: 4rem 2rem;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.googleMapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media (max-width: 480px) {
    .locationContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
    }

    .addressContainer,
    .googleMapContainer {
        width: 100%;
    }

    .googleMapContainer {
        margin-top: 2rem;
    }
}