.searchBarContainer {
    padding: 10px 1rem;
    width: 60%;
    border-radius: 7px;
    border: 1px solid rgb(175, 175, 175);
    background-color: lightgray;
    font-size: 1.5rem;
    font-family: var(--default-font-readable);
}

@media (max-width: 480px) {
    .searchBarContainer {
        width: 90%;
    }
}